.about{
    background-color: #af695c;
    border-radius: 10px;
    height: 20vh;
    padding:  15px 0 15px 20px;
} 

.about > .about_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.about > .about_title > hr{ 
    width: 40%;
}

.about > p{
    padding:  10px 20px 0 0;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}