.chips{
    display: flex;
    align-items: center;
    height: 4px;
    margin: 20px;
}

.chip > p{
    border-radius: 15px;
    width: fit-content;
    height: px;
    align-items: center;
    margin-left: 10px;
    padding: 5px 10px;
}